@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
    --alt-primary-color: hsl(190, 70%, 40%);
  --secondary-color: #ff7235;
    --third-color: #c52996;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem; /* .5 rem is equivalent to 8 pixels */
  --bottom-margin-2: 1rem; /* 1 rem is equivalent to 16 pixels */
  --line-height: 1.7rem;   /* 1.7 rem is equivalent to 27.2 pixels */
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  /* color: var(--primary-color); */
      color: var(--alt-primary-color); 
}

a:hover {
  /* color: var(--secondary-color); */
      color: var(--third-color);
}

body {
  font-family: var(--font-family);
}

/*
section {
   max-width: 1100px;
  margin: auto; 
}
*/

/* CSS Resets end */

/* Begin Nav Section */

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem; /* 1.5 rem is equivalent to 24 pixels & 3.5 rem is equivalent to 56 pixels */
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  nav h1 {
    /*color: var(--primary-color); */
      color: var(--alt-primary-color);
  }
  
  nav a {
    /* color: var(--primary-color);*/
    transition: var(--transition);
      color: var(--alt-primary-color);
  }
  nav a:hover {
    /* color: var(--secondary-color); 
    border-bottom: 2px solid var(--secondary-color); */

      color: var(--third-color);
      border-bottom: 2px solid var(--third-color);
  }
  
  nav ul {
    display: flex;
    gap: 1.9rem; /* 1.9 rem is equivalent to 30.4 pixels */
  }
  
  nav ul li {
    font-weight: var(--bold-font);
  }

  .burger-menu {
    /* color: var(--primary-color); */
    color: var(--alt-primary-color);
    font-size: 2rem; /* 2 rem is equivalent to 32 pixels */
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
  }
/* End Nav Section */
  
/* Begin Hero Section */

  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem; /* This is gap between pic and About Me box - also 2.5 rem is equivalent to 40 pixels */
    max-width: 68.75rem; /* 68.75 rem is equivalent to 1100 pixels */
    margin: auto;
    padding: 50px; /* Added to space the nav section from the hero section above the hero img */
  }

  .hero img {
    /* height: 37.5rem;*/ /* 37.5 rem is equivalent to 600 pixels */
    /* width: 37.5rem;*/

    object-fit: contain;  /*keeps aspect ratio of pic */

        width: 100%;  
        max-width: 50%;
        height: auto;

        /* make it look like it's on a photograph */
        padding: 0.625rem;  /*0.625 rem is equivalent to 10 pixels */
        border-radius: 6px;
        box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio {
    width: 25rem; /* 25 rem is equivalent to 400 pixels */
    padding: 0.625rem; /* 0.625 rem is equivalent to 10 pixels */
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  
  .bio h1 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0; /* 0.3 rem is equivalent to 4.8 pixels */
  }

/* End Hero Section */

/* Begin More About Section */

  .more-about {
    background-color: var(--bg-color);
    padding: 1rem 6rem; /* 1 rem is equivalent to 16 pixels & 6 rem is equivalent to 96 pixels */
  }
  
  .more-about h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
  }
  
  .more-about p {
    line-height: var(--line-height);
    padding: 0.4rem; /* 0.4 rem is equivalent to 6.4 pixels */ 

    align-items: center;
    justify-content: center;
    max-width: 68.75rem; 
    margin: auto;
  }

/* End More About Section */

/* Begin Skills Section */  

  .skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem; /* 2.5 rem is equivalent to 40 pixels */
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem; /* 1.25 rem is equivalent to 20 pixels */
  }
  
  .icon {
    width: 11.875rem; /* 11.875 rem is equivalent to 190 pixels */
    height: 11.25rem; /* 11.25 rem is equivalent to 180 pixels */
  }

  /* to put icons on cards */
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }

/* End Skills Section */ 

/* Begin Project Section */  

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem; /* 2 rem is equivalent to 32 pixels */
  }
  
  .project-pic {
    width: 65%;
    height: 60%;
  }
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .projects-title {
    text-align: center;
    margin-bottom: 1rem; /* 1 rem is equivalent to 16 pixels */
  }
  
  .project-container {
    text-align: center;
    width: 21.875rem; /* 21.875 rem is equivalent to 350 pixels */
    padding: 1rem; /* 1 rem is equivalent to 16 pixels */
  }
    /* ---------- make them individual cards with more styling -------- */
  .project-container p {
    padding: 0.4rem;
  }
  
  .project-title {
    margin-bottom: var(--bottom-margin);
    margin-top: 1rem;
  }
  
  .project-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

/* End Project Section */ 

/* Begin Contact Section */ 

.contact {
    margin-top: 2rem;
  }
  
  .contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
  }
  
  .contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
  }

  /* ------ more styling  ------ */
  .contact-form-container label {
    line-height: 2.7em;
    font-weight: var(--bold-font);
    /* color: var(--primary-color); */
          color: var(--alt-primary-color);
  }
  
  .contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
  }
  
  .contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    /* border: 2px outset var(--primary-color); */
        border: 2px solid var(--alt-primary-color);
    font-size: 0.875rem;
    outline: none;
  }
  
  /* cleaning it up a bit and adding color */
  .input-field::placeholder {
    padding: 0.5rem;
    /* color: var(--primary-color); */
        color: var(--alt-primary-color);
  }

   /* ----- submit button styling ----- */ 
   .submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    /* border: 2px solid var(--primary-color); */
        border: 2px solid var(--alt-primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
  }

  .submit-btn:hover {
    /* background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    cursor: pointer; */

        background-color: var(--alt-primary-color);
        border: 2px solid var(--alt-primary-color);
        cursor: pointer;
  }

/* End Contact Section */ 

/* Start Social Section */
.socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
    
        background-color: #fff;
        border-radius: 11px;
        box-shadow: 0 3px 8px var(--secondary-shadow);
        padding: 3px;
        /* margin: 10px; */
        /* gap: 0.4rem;  The space between each icon vertically */
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }

/* End Social Section */

/* Start Scroll to top icon */
.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }

/* End Scroll to top icon */


/* Start Footer Section */
  footer {
    background-color: var(--bg-color);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }

/* End Footer Section */

/* ------------ Media Queries for responsiveness on tablet and mobile -------------------------------------------------- */ 

@media screen and (max-width: 720px) {
    /* --- changes reflects on screen with a width of 720px and below ------------*/
  
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

   nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  nav ul.show {
    transform: translateX(0);
  }

  /* ------ Hero Section tablet & mobile responsiveness (still within Media Query brackets) ------*/

  .hero {
    margin-top: -4rem;
    flex-direction: column;
    gap: 0;
  }

  .hero img {
    /*height: 37.5rem;
    width: 30rem;*/

        object-fit: contain;  /*keeps aspect ratio of pic */

        width: 100%;  
        max-width: 80%;
        height: auto;

        /* make it look like it's on a photograph */
        padding: 0.625rem;  /*0.625 rem is equivalent to 10 pixels */
        border-radius: 6px;
        box-shadow: 0px 2px 15px 2px var(--primary-shadow);
        margin-top: 75px;
      
    }

  .bio {
    margin-top: -7rem;
    width: 20.5rem;
    margin: 50px; /* keeps "About Me" card from overlapping hero img */
  }

  /* ------ More About Me Section tablet & mobile responsiveness (still within Media Query brackets) ------*/

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    /* text-align: justify; changed to fix odd looking spacing errors on mobile and make it look more readable */
    text-align: left;
  }

  /* ------ Skills Section tablet & mobile responsiveness (still within Media Query brackets) ------*/

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  /* ------ Projects Section tablet & mobile responsiveness (still within Media Query brackets) ------*/

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }

  /* ------ Contact Form Section tablet & mobile responsiveness (still within Media Query brackets) ------*/

  .contact-form-container {
    max-width: 23.75rem;
  }

} 
/* ------ End Media Query for 720px ----------------------------------------------------------------------- */

/* ------ Begin New smaller Media Query for 420px --------------------------------------------------------- */

@media screen and (max-width: 420px) {
    .hero img {
      /*height: 37.5rem;
      width: 23rem;*/
          object-fit: contain;  /*keeps aspect ratio of pic */

          width: 100%;  
          max-width: 100%;
          height: auto;

          /* make it look like it's on a photograph */
          padding: 0.625rem;  /*0.625 rem is equivalent to 10 pixels */
          border-radius: 6px;
          box-shadow: 0px 2px 15px 2px var(--primary-shadow);
          margin-top: 75px;
    }
  
    .bio {
      width: 18.3rem;
      padding: 30px; 
      margin: 50px; /* keeps "About Me" card from overlapping hero img */
    }
  
    .project-container {
      width: 17.875rem;
    }
  
    .contact-form-container {
      max-width: 17.75rem;
    }
  } 
